# Node modules
Backend/node_modules/
Frontend/node_modules/

# Build
Frontend/build/

# Environment variables
*.env

# Logs
*.log

# OS & IDE
.DS_Store
.vscode/
.idea/
Thumbs.db

# Coverage
coverage/

Poppins/
